@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.title {
  font-size: 48px;
  font-weight: 700;
}

.extra-space {
  margin: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
